<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="login.css">
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background: #444;
        display: block;
        margin: 0 auto;
      }
    </style>
</head>
<body>


  <!--Seeded Random Number Generator code written by David Bau-->
  <script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js>
  </script>

    <h1>Reaction Game!</h1>
    <canvas id="reactCanvas" width ="800" height="800"></canvas>

    <input type="text" id="roomBox" placeholder="Room Code">
    <button onclick="setSeed()">Join Room</button>

    <script src="game.js"></script>

    <a href="/">Home</a>
</body>
</html>