<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background: #222;
        display: block;
        margin: 0 auto;
      }
    </style>
</head>
<body>


  <script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js>
  </script>

    <h1>My Game Webpage!</h1>
    <canvas id="reactCanvas" width ="800" height="800"></canvas>

    <input type="text" id="roomBox" value="">
    <button onclick="setSeed()">Set Seed</button>

    <script>
      const canvas = document.getElementById("reactCanvas");
      const ctx = canvas.getContext("2d");
      const tgt_radius = 20;
      const num_tgts = 5;

      let x_pos = canvas.width / 2;
      let y_pos = canvas.height / 2;
      let penalty = 0;
      let tgt_count = 0;

      var start_time, end_time;

      function setSeed() {
        var seed = document.getElementById("roomBox").value;
        Math.seedrandom(seed);
      }

      function clearTarget() {
        ctx.clearRect(0,0,canvas.width, canvas.height);
      }

      function drawTarget() {
        clearTarget();
        ctx.beginPath();
        ctx.arc(x_pos, y_pos, tgt_radius, 0, Math.PI*2);
        ctx.fillStyle = "gainsboro";
        ctx.fill();
        ctx.closePath();
      }

      function findDist(x1, y1, x2, y2) {
        let dx = x1 - x2;
        let dy = y1 - y2;
        let r = Math.sqrt(dx * dx + dy * dy);
        return r;
      }

      drawTarget();

      canvas.addEventListener("click", clickHandler, false);


      function clickHandler(e) {
        if (findDist(x_pos, y_pos, e.offsetX, e.offsetY) <= tgt_radius) {
          x_pos = Math.floor(Math.random() * (canvas.width - 2 * tgt_radius)) + tgt_radius;
          y_pos = Math.floor(Math.random() * (canvas.height - 2 * tgt_radius)) + tgt_radius;
          drawTarget();
          if (tgt_count == 0) {
            start_time = Date.now();
          }
          tgt_count += 1;
          if (tgt_count >= (num_tgts)) {
            end_time = Date.now();
            gameOver();
          }
        }
        else {
          penalty += 1;
        }
      }

      function gameOver() {
        score = calcScore();
        alert("Game over, score is " + score);
        document.location.reload();
      }

      function calcScore() {
        let dt = end_time - start_time;
        return dt;
      }

      
    </script>
    <a href="/">Home</a>
</body>
</html>