<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reaction Game Login</title>
  <link rel="stylesheet" href="login.css">
  <script defer src="index.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Reaction Game - Login</h1>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <h3></h3>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <h3></h3>
      <input type="submit" value="Login" id="login-form-submit">
      <h3>or</h3>
      <input type="submit" value="SignUp" id="sign-up-form">
    </form>
  
  </main>
</body>

</html>