<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reaction Game Login</title>
  <link rel="stylesheet" href="login.css">
  <script defer src="signup.js"></script>
</head>

<body>
  <main id="main-holder" style="text-align:center">
    <h1 id="signup-header">SignUp</h1>
    
    <form id="signup-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <h3></h3>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <h3></h3>
      <input type="submit" value="SignUp" id="sign-up-form">
    </form>

    <h1></h1>
    <a href="/">Back to Login</a>
  
  </main>
</body>

</html>